{% extends "newcourse/base.html" %}
{% load static %}
{% block head %} Welcome to LocalQuaker.
{% endblock %}
{% block detail %} Due to obvious lack of money (college student), the website will be hosted on this site until further notice.
<br><br>
This is a website made with the help of PennCourseReview to bring you details of courses and professors at Penn. This site is to be used to allow Penn students to review courses or professors after they have taken the class.
This will make sure new students can choose their classes better. As this was a feature lacking on PennCourseReview, I decided to make this website on PennApps X. Hopefully, if everyone contributes, we will be able to create a
website that will benefit everyone at Penn.
<br>
<br>
To review, simply register (with your Penn ID), confirm your email address and review professors/courses. All reviews are annonymous and your username or email ID are not posted.
<br>
<br>
Reading reviews require no registrations.
<br>
This website is still new and I will keep updating it. Hope you all enjoy using it and shoot me a message with any suggestions.
<br><br>
Thank you!
{% endblock %}
{% block body_block %}



              <!-- Highlight -->

{% endblock %}

