{% extends "newcourse/base.html" %}
{% block title %} Login {% endblock %}
{% block head %} Login Page {% endblock %}
{% block detail %} Login through the form below {% endblock %}

{% block body_block %}
    <h1>Login to LocalQuaker</h1>
    <h1> {{ error }}</h1>
    <form id="login_form" method="post" action="/localquaker/login/">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="submit" />
    </form>
{% endblock %}