{% extends 'newcourse/base.html' %}
    
{% block title %} {{thetype}} {% endblock %}

{% block head %} {{thetype}} 


{% endblock %}
{% block detail %} 

{% endblock %}


{% block body_block %}

    {% if results %}
    <section>
    
    {% for a in results %}
	<li><a href="/localquaker{{a.path}}">
	{% if a.name %}
		{{ a.name }}
	{% else %}
	<b> Name Unavailabe </b>
	{% endif %}
		
	{% if a.id %}
	({{a.id }})
	{% endif %}
	</a>
	</li>
	{% endfor %}
    </p>
    </section>
   
            {% endif %}
        
{% endblock %}